behaviors:
  PushBall:
    trainer_type: ppo
    hyperparameters:
      learning_rate: 3.0e-4
      learning_rate_schedule: constant
      batch_size: 2048
      buffer_size: 20480
      beta: 5.0e-4
      epsilon: 0.2
      lambd: 0.95
      num_epoch: 3
    network_settings:
      normalize: true
      hidden_units: 256
      num_layers: 2
    reward_signals:
      extrinsic:
        gamma: 0.99
        strength: 1.0
    max_steps: 40000000
    time_horizon: 64
    summary_freq: 10000

env_settings:
  num_envs: 1
  seed: -1
  base_port: 5005

torch_settings:
  device: cpu
  threads: 16
